.head{
    width: 100%;
    height: 90px;
    background: pink;
}

.head .title{
    width: 500px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    line-height: 90px;
    font-size: 30px;
}

.head .logo{
    background-image: url("../images/logo.png");
    width: 350px;
    height: 100%;
    float: left;
}

.content{
    margin: 30px 10px;
    background: greenyellow;
    min-height: 600px;
    border-radius: 10px;
}

.content .list{
    display: none;
    flex-flow: row wrap;
    margin-left: 20px;
}

.content .list .info{
    display: inline-block;
    width: 330px;
    height: 150px;
    margin-top: 20px;
    background: #b1bed2;
    border-radius: 10px;
    margin-right: 20px;
}

.content .search{
    height: 40px;
    width: 550px;
    padding-top: 30px;
}

.content .search span{
    display: inline-block;
    width: 90px;
    background: dodgerblue;
    height: 30px;
    border-radius: 15px;
    margin-left: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.model{
    display: none;
    position: absolute;
    width: 600px;
    height: 300px;
    left: 450px;
    background: red;
    top: 200px;
    z-index: 200;
}
.mask{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
    background: gray;
    opacity: 0.5;
}